name: codebreaker.services nuget

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - 'src/clients/shared/CodeBreaker.Services/**'
    - '.github/workflows/codebreaker-lib-services.yml'
    - '.github/workflows/createnuget.yml'
    - '.github/workflows/publishnuget.yml'

  # Allow manually trigger 
  workflow_dispatch:    

jobs:
  build:
    uses: CNILearn/codebreakermini/.github/workflows/createnuget.yml@main
    with:
      version-suffix: preview.1.${{ github.run_number }}
      projectfile-path: src/clients/shared/CodeBreaker.Services/CodeBreaker.Services.csproj
      dotnet-version: '7.0.x'
      artifact-name: codebreaker-services

  publish:
    uses: CNILearn/codebreakermini/.github/workflows/publishnuget.yml@main
    needs: build
    with:
      artifact-name: codebreaker-services
    secrets: inherit
